body {
  background-color: black;
}

.body-diagrams {
  width: 60vw;
  position: absolute;
  left: 1vw;
  top: 10vh;
  height: 84vh;
}

.dropdown-pos {
  position: absolute;
  top: 2vh;
  left: 1vw;
}

.info-card {
    color: white;
    background-color: black;
    height: 94vh;
    position: absolute;
    width: 30vw;
    top: 2vh;
    right: 1vw;
}
